@media (max-width: 750px){
    
    body{
        min-width: 320px;
    }
    .b_fx_left_menu{
        display: none;
    }

    #b-wrapper{
        background: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/adaptiv_header_bg_750.png');
        background-repeat: no-repeat;
        background-position: 50% 0;
        
    }
    .b_fx_catalog_filter__footer_fx{
        padding-left: 0;
    }
    
    .b_index_block1{
        display: none;
    }
    .b_index_top{
        display: none;
    }
    .b_index_quality{
        display: none;
    }    
    
    
    
    .mobile_top_baner__wrapper{
        /*-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.43);    
        -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.43);   
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.43);*/
        height: 690px;
        display: block;
    }
    .mobile_top_baner{
        background-color: rgba(0,0,0,0.7);
        max-width: 600px;
        position: relative;
        margin: 70px auto 0 auto;
        text-align: center;
        
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/mobile_top_baner_info.png');
        background-repeat: no-repeat;
        background-position: 50% 100px;
        height: 620px;
        position: relative;

        
    }
    .mobile_top_baner__link{
        display: block;
        width: 286px;
        margin-left: -143px;
        height: 75px;
        border: 2px solid #ffffff;
        position: absolute;
        left: 50%;
        bottom: 60px;
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
        padding-top: 24px;
        font-weight: bold;
        letter-spacing: 4px;
        border-radius: 5px;
    }
    
    
    .mobile_index_action{
        /*background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/baner_mobile750.png');
        background-repeat: no-repeat;
        background-position: 50% 0;*/
        /*height: 400px;*/
        text-align: center;
        display: block;
    }
    .mobile_index_action img{
        margin: 0 auto;
        width: auto;
        max-width: 100%;
    }
    .mobile_index_action img.mobile_index_action__750{
        display: block;
    }
    
    .mobile_top_menu{
        width: 100%;
        height: 60px;
        background: rgba(0,0,0,0.85);
        padding: 16px 35px 0 35px;
        display: block;
    }
    .mobile_top_menu ul{
            margin: 0;
            padding: 0;
            text-align: justify;
            height: 20px;
            list-style: none;
    }
    .mobile_top_menu ul:after {
        content: " ";
        margin-left: 100%;
        display: inline-block;
    }
    .mobile_top_menu ul li{
        display: inline;
        position: relative;
    }
    .mobile_top_menu ul li a{
        display: inline-block;
        color: #ffffff;
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
    }
    .mobile_top_menu ul li span{
        display: inline-block;
        background: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/footer_menu_dot_ff.png');
        background-repeat: no-repeat;
        width: 5px;
        height: 7px;
    }
    
    
        
    #b-pre-footer{
        height: 560px;
    }
    #b-footer{
        height: 560px;
        margin-top: -560px;
    }
    .b_footer__logo{
        height: 142px;
    }
    
    
    #review_slide_rbl{
        /*border-collapse: separate;
        border-spacing: 10px;*/
    }
    .b_index_food_review__nav__nav {
        display: none;
    }
    .b_index_reviews{
        /*display: none;*/
    }
        
}

@media (max-width: 730px){
    
    
    .mobile_header__info{
       /* border-top: 0;
        border-bottom: 0;
        margin-top: 7px;
        height: auto;*/
        
    }
    
    .mobile_header_menu{
        background-color: #7ec56e;
        width: 60px;
        overflow: hidden;
        text-indent: -9999px;
        padding: 0;
        background-position: 50% 50%;
        
        
    }
    
    
}

@media (max-width: 700px){
    
    .mobile_index_icons{
        width: 524px;
        margin-right: auto;
        margin-left: auto;
    }
    .mobile_index_icons__greed{
        width: 242px;
    }
    
    
}

@media (max-width: 640px){
    #b-wrapper{
        background: none;
    }
    .mobile_top_baner__wrapper{
        height: 370px;
        background: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/adaptiv_header_bg_750.png');
        background-repeat: no-repeat;
        background-position: 50% 0;
    }
    .mobile_top_baner{
        max-width: 640px;
        height: 370px;
        margin-top: 0;
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/mobile_top_baner_info_small.png');
        background-position: 50% 56px;
    }
    .mobile_top_baner__link{
        width: 166px;
        margin-left: -83px;
        font-size: 12px;
        height: 48px;
        padding-top: 14px;
    }
    
}

@media (max-width: 610px){
    
    .mobile_top_menu{
        display: none;
    }
    
    .mobile_index_about__title1{
        font-size: 34px;
    }
    
    
}
@media (max-width: 540px){
    .mobile_index_icons{
        width: 352px;
    }
    .mobile_index_icons__greed{
        width: 156px;
    }
    .mobile_index_links_detail{}
    .mobile_index_links_detail a{
        width: 206px;
        height: 50px;
        font-size: 12px;
        letter-spacing: 2px;
        padding-top: 14px;
        margin-left: -103px;
    }
    .mobile_index_icons__footer__small{
        font-size: 16px;
        letter-spacing: 3px;
    }
    .mobile_index_icons__footer__big{
        font-size: 22px;
    }
    
}
@media (max-width: 470px){
    .b_footer__fb_widget{
        width: 310px;
    }
}

@media (max-width: 375px){
    .mobile_index_action img.mobile_index_action__750{
        display: none;
    }
    .mobile_index_action  img.mobile_index_action__480{
        display: block;
    }
    .mobile_index_about__title1{
        font-size: 27px;
    }
    
    #b_catalog_filter_ajax{
        display: none;
    }
    .b_fx_catalog_filter__wrapper{
        display: none;
    }
    
    
    .mobile_header__info__c2{
        background: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/mobile_small_logo.png');
        background-repeat: no-repeat;
        width: 19px;
        height: 28px;
        text-indent: -9999px;
        margin-top: 4px;
        margin-left: 9px;
    }
    .mobile_header__info__c3{
        letter-spacing: 2px;
    }
    /*****/
    .b_catalog{
        padding-left: 0;
    }
    .mobile_catalog{
        background: url('/bitrix/templates/vkuslab/http://vkuslab.ru/bitrix/templates/vkuslab/images/catalog_bg.png');
        padding-bottom: 30px;
        display: block;
    }
    
    .mobile_catalog__view{
        position: relative;
        margin: 0 auto;
        margin-bottom: 14px;
        width: 96%;
        height: 42px;
        border-radius: 5px;
        border: 1px solid #dadada;
        background: #ffffff;
        padding: 0;
    }
    .mobile_catalog__view__inner{
        position: relative;
        margin: 0 2px;
    }
    .mobile_catalog__view__toggle{
        text-decoration: none;
        font-family: 'Roboto Slab';
        font-size: 12px;
        color: #595959;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 4px;
        float: left;
        width: 50%;
        text-align: center;
        height: 36px;
        margin-top: 2px;
        padding-top: 9px;
        position: relative;
        z-index: 80;
    }
    .mobile_catalog__view__toggle__selected{
        background: #7ec56e;
        border-radius: 5px;
        color: #ffffff;
    }
    
    .mobile_catalog__view__slide{
        display: none;
        position: absolute;
        z-index: 70;
        width: 50%;
        height: 36px;
        top: 2px;
        background: #7ec56e;
        border-radius: 5px;
        left: 0;
    }
    
    
    
    .mobile_catalog__sections{
        height: 60px;
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/mobile_catalog__sections_bg.png');
        background-position: 50% 0;
        background-repeat: no-repeat;
        margin-bottom: 14px;
        
        font-size: 24px;
        font-family: 'Orpheus';
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        position: relative;
        font-weight: bold;
        
        letter-spacing: 6px;
    }
    .mobile_catalog__sections_title__wrapper{
        width: 300px;
        margin: 0 auto;
        position: relative;
    }
    .mobile_catalog__sections_title{
        display: table-cell;
        width: 300px;

        font-size: 80%;
        height: 60px;
        vertical-align: middle;
        text-align: center;
    }
    .mobile_catalog__sections__nav{
        top: 18px;
        background-position: 0 0;
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        z-index: 100;
        width: 14px;
        height: 20px;
    }
    .mobile_catalog__sections__prev{
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/mobile_catalog__sections__prev.png');
        left: 22px;
    }
    .mobile_catalog__sections__next{
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/mobile_catalog__sections__next.png');
        right: 22px;
    }
    
    .mobile_catalog__tb{
        position: relative;
        margin: 0 auto;
        width: 96%;
        font-family: 'Roboto Slab';
        font-size: 14px;
        color: #000000;
        
    }
    .mobile_catalog__tb__item{
        height: 102px;
        border: 1px solid #d1cfcc;
        background: #ffffff;
        margin: 4px 0;
        -webkit-box-shadow: 0px 0px 4px 4px rgba(209,207,204,0.43);
        -moz-box-shadow: 0px 0px 4px 4px rgba(209,207,204,0.43);
        box-shadow: 0px 0px 4px 4px rgba(209,207,204,0.43);
    }
    .mobile_catalog__tb__item__picture{
        padding: 10px 0 0 10px;
        float: left;
        width: 120px;
    }
    .mobile_catalog__tb__item__picture img{
        display: block;
    }
    .mobile_catalog__tb__item__col2{
        padding-left: 120px;
    }
    .mobile_catalog__tb__item__name{
        padding-top: 10px;
        padding-right: 10px;
        height: 50px;
    }
    .mobile_catalog__tb__item__footer{
        padding-right: 10px;
    }
    
    .mobile_catalog__tb__item__price{
        font-weight: bold;
        font-size: 18px;
        float: left;
        width: 54px;
        padding-top: 10px;
    }
    .mobile_catalog__tb__item__quantity{
        padding-top: 7px;
        float: left;
    }
    .mobile_catalog__tb__item__quantity__down{
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/item__quantity__down.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        float: left;
        text-decoration: none;
        display: block;
    }
    .mobile_catalog__tb__item__quantity__up{
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/item__quantity__up.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        float: left;
        text-decoration: none;
        display: block;
    }
    .mobile_catalog__tb__item__quantity_val{
        float: left;
        width: 32px;
        height: 24px;
        border: 1px solid #aea69c;
        border-radius: 3px;
        margin: 3px 10px 0 10px;
        text-align: center;
        
    }
    .mobile_catalog__tb__item__buy{
        display: block;
        float: right;
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/catalog__tb__item__buy.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: #7ec56e;
        width: 40px;
        height: 40px;
    }
    
    
    
    
    .mobile_catalog__pl__item{
        height: 400px;
        border: 1px solid #d1cfcc;
        background: #ffffff;
        margin: 4px 0;
        -webkit-box-shadow: 0px 0px 4px 4px rgba(209,207,204,0.43);
        -moz-box-shadow: 0px 0px 4px 4px rgba(209,207,204,0.43);
        box-shadow: 0px 0px 4px 4px rgba(209,207,204,0.43);
        padding: 10px;
    }
    .mobile_catalog__pl__item__picture{
        width: 100%;
        height: 320px;
        position: relative;
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/adp_catalog_img2.png');
        background-position:0 0;
        background-repeat: no-repeat;
    }
    .mobile_catalog__pl__item__rating{
        width: 60px;
        height: 220px;
        position: absolute;
        right: 0;
        top: 0;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        font-family: 'Roboto Slab';
        
    }
    .mobile_catalog__pl__item__rating__separator{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 44px;
        height: 10px;
        margin: -5px 0 0 -22px;
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/pl__item__rating_bg.png');
        background-position: 0 0;
        background-repeat: no-repeat;
    }
    .mobile_catalog__pl__item__rating__b1{
        height: 110px;
        background-color: rgba(255,217,101,0.9);
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/pl__item__rating__b1_o.png');
        background-position: 50% 20px;
        background-repeat: no-repeat;
        color: #bc6f00;
        padding-top: 75px;
    }
    .mobile_catalog__pl__item__rating__b2{
        height: 110px;
        background-color: rgba(189,227,176,0.9);
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/pl__item__rating__b2.png');
        background-position: 50% 20px;
        background-repeat: no-repeat;
        color: #286a11;
        padding-top: 75px;
    }
    
    .mobile_catalog__pl__item__footer{
        width: 100%;
        height: 100px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(255,255,255,0.9);
    }
    .mobile_catalog__pl__item__name{}
    .mobile_catalog__pl__item__name__tb{
        height: 100px;
        display: table-cell;
        vertical-align: middle;
        padding-left: 26px;
        font-weight: bold;
        font-size: 18px;
        font-family: 'Roboto Slab';
    }
    
    .mobile_catalog__pl__item__info{
        float: right;
        width: 60px;
        font-size: 12px;
        text-align: center;
        font-family: 'Roboto Slab';
        font-weight: bold;
        
    }
    .mobile_catalog__pl__item__info__row{
        height: 50px;
        padding-top: 10px;
    }
    .mobile_catalog__pl__item__info__row.line{
        height: 49px;
    }
    .mobile_catalog__pl__item__info__line{
        width: 40px;
        margin: 0 auto;
        height: 1px;
        background: #bebebe;
    }
    .mobile_catalog__pl__item__info__row div{
        font-size: 10px;
        font-weight: normal;
        text-transform: uppercase;
        padding-top: 4px;
    }
    .mobile_catalog__pl__item__bottom{
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/pl__item__bottom_bg.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        height: 60px;
    }
    
    .mobile_catalog__pl__item__bottom .mobile_catalog__tb__item__price{
        padding-top: 20px;
        margin-left: 30px;
        width: 80px;
    }
    .mobile_catalog__pl__item__bottom .mobile_catalog__tb__item__quantity{
        padding-top: 0;
    }
    .mobile_catalog__pl__item__bottom .mobile_catalog__tb__item__quantity__down{
        margin-top: 15px;
    }
    .mobile_catalog__pl__item__bottom .mobile_catalog__tb__item__quantity_val{
        width: 48px;
        height: 40px;
        margin-top: 9px;
    }
    .mobile_catalog__pl__item__bottom .mobile_catalog__tb__item__quantity__up{
        margin-top: 15px;
    }
    .mobile_catalog__pl__item__bottom .mobile_catalog__tb__item__buy{
        width: 60px;
        height: 60px;
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/catalog__tb__item__buy_big.png');
    }
    
    /***/
    #b_catalog__element__wrapper{
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    .b_catalog__element__scroll{
        margin: 0;
    }
    .b_catalog__element__close{
        display: none;
    }
    .mobile_catalog__element__close{
        text-align: right;
        background-color: #f4f2f0;
        height: 46px;
        padding-top: 12px;
        padding-right: 18px;
        display: block;
    }
    .mobile_catalog__element__close__link{
        display: inline-block;
        background: url('/bitrix/templates/vkuslab/http://vkuslab.ru/bitrix/templates/vkuslab/images/element_detail_close.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 21px;
        height: 20px;
        cursor: pointer;
    }
    .b_catalog__element__favorit{
        display: none;
    }
    .mobile_catalog__element__favorit{
        display: block;
        float: left;
        background: url('/bitrix/templates/vkuslab/http://vkuslab.ru/bitrix/templates/vkuslab/images/element__favorit__icon.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        display: block;
        height: 28px;
        padding-left: 48px;
        margin-left: 15px;
    }
    .mobile_catalog__element__favorit a{
        display: inline-block;
        font-family: 'Roboto Slab';
        font-weight: bold;
        color: #cc7700;
        text-decoration: none;
        border-bottom: 1px dashed;
        text-transform: uppercase;
        font-size: 12px;
        padding-top: 4px;
    }
    .b_catalog__element__col1{
        float: none;
        width: 100%;
        
    }
    .b_catalog__element__col2{
        float: none;
        width: 100%;
    }
    .b_catalog__element__picture{
        padding-top: 0;
        width: 100%;
        height: 342px;
        overflow: hidden;
        position: relative;
    }
    .b_catalog__element__picture img{
        display: block;
        width: 100%;
    }
    
    
    .mobile_element_pic_rating{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 242px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        font-family: 'Roboto Slab';
    }
    .mobile_element_pic_rating__separator{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 44px;
        height: 10px;
        margin: -5px 0 0 -22px;
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/pl__item__rating_bg.png');
        background-position: 0 0;
        background-repeat: no-repeat;
    }
    .mobile_element_pic_rating__bl1{
        height: 121px;
        background-color: rgba(255,217,101,0.9);
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/pl__item__rating__b1_o.png');
        background-position: 50% 20px;
        background-repeat: no-repeat;
        color: #bc6f00;
        padding-top: 75px;
    }
    .mobile_element_pic_rating__bl2{
        height: 121px;
        background-color: rgba(189,227,176,0.9);
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/pl__item__rating__b2.png');
        background-position: 50% 20px;
        background-repeat: no-repeat;
        color: #286a11;
        padding-top: 75px;
    }
    
    
    .mobile_element_pic_footer{
        display: block;
        width: 100%;
        height: 100px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(255,255,255,0.9);
    }
    .mobile_element_pic_footer__info{
        float: right;
        width: 60px;
        font-size: 12px;
        text-align: center;
        font-family: 'Roboto Slab';
        font-weight: bold;
    }
    .mobile_element_pic_footer__info__row{
        height: 50px;
        padding-top: 10px;
    }
    .mobile_element_pic_footer__info__row div{
        font-size: 10px;
        font-weight: normal;
        text-transform: uppercase;
        padding-top: 4px;
    }
    .mobile_element_pic_footer__info__line{
        width: 40px;
        margin: 0 auto;
        height: 1px;
        background: #bebebe;
    }
    .mobile_element_pic_footer__name{
        
    }
    .mobile_element_pic_footer__name__tb{
        height: 100px;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding-left: 26px;
        font-weight: bold;
        font-size: 18px;
        font-family: 'Roboto Slab';
    }
    
    .b_catalog__element__rating{
        display: none;
    }
    .catalog__element__buy{
        margin-top: 0;
        height: 60px;
        width: 100%;
    }
    .catalog__element__price{
        font-weight: bold;
        font-size: 18px;
        margin-left: 20px;
        margin-top: 9px;
        width: 80px;
    }
    .catalog__element__price .f_icon_ruble__big{
        background-image: url('/bitrix/templates/vkuslab/http://vkuslab.ru/bitrix/templates/vkuslab/images/icon_ruble.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 9px;
        height: 13px;
        display: inline-block;
    }
    .catalog__element__quantity{
        float: left;
        margin-left: 30px;
        padding-top: 10px;
    }
    .mobile_element__buy_btn{
        display: block;
        float: right;
        width: 60px;
        height: 60px;
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/catalog__tb__item__buy_big.png');
        text-decoration: none;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: #7ec56e;
    }
    .b_catalog__element__add2cart{
        display: none;
    }
    .b_catalog__element__soc_nets{
        display: none;
    }
    
    .b_catalog__element__content{
        width: 100%;
        padding-top: 20px;
        margin-left: 0;
        padding-left: 30px;
        font-size: 12px;
        line-height: 1.6;
    }
    .b_catalog__element__name{
        display: none;
    }
    .catalog__element__nutritional{
        display: none;
    }
    .b_catalog__element__content div b{
        font-size: 14px;
    }
    .b_catalog__element__description{
        margin-left: 0;
        padding-left: 30px;
        font-size: 12px;
        line-height: 1.6;
    }
    .b_catalog__element__description div b{
        font-size: 14px;
    }
    .b_catalog__element__nutritional{
        margin-top: 18px;
        margin-left: 0;
        padding-left: 31px;
    }
    .b_catalog__element__nutritional table{
        width: 100%;
    }
    
    .mobile_element__soc_nets__title{
        font-family: 'Roboto Slab';
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        text-align: center;
        padding-top: 40px;
    }
    .mobile_element__soc_nets{
        width: 206px;
        margin: 0 auto;
        padding-top: 15px;
        display: block;
    }
    .mobile_element__soc_nets a{
        float: left;
        width: 38px;
        height: 39px;
        text-decoration: none;
        display: block;
        margin: 0 18px 0 0;
    }
    .b_catalog__element__reviews__title{
        font-size: 24px;
        padding-top: 30px;
    }
    .b_catalog__element__reviews{
        width: 100%;
    }
    
    .catalog__element_reviews__list{
        width: 340px;
    }
    
    
    .b_delivery_payment__inner{
        display: none;
    }
    .b_delivery_areas__col1{
        float: none;
        width: 100%;
        padding-top: 0;
        height: 442px;
    }
    .b_delivery_areas__col2{
        float: none;
        width: 100%;
        padding-top: 0;
    }
    
    .b_delivery_areas__title__text{
        background-image: url('/bitrix/templates/vkuslab/http://vkuslab.ru/bitrix/templates/vkuslab/images/areas__title__text_mobile.png');
        font-size: 24px;
        letter-spacing: 9px;
        padding-left: 19px;
        margin-top: 25px;
        height: 90px;
    }
    .b_delivery_areas__title__text span{
        font-size: 16px;
        letter-spacing: 4px;
        padding-top: 2px;
    }
    
    .b_delivery_areas_tbl{
        padding-top: 0;
        width: 100%;
    }
    
    
    .delivery_areas__h__i1{
        width: 32px;
    }
    .delivery_areas__h__i2{
        width: 36px;
        margin-top: 5px;
    }
    .delivery_areas__h__i3{
        width: 134px;
    }
    
    .b_delivery_areas_tbl__head1{
        line-height: 1.2;
        font-size: 9px;
        letter-spacing: 0px;
    }
    
    .areas_tbl__z1_small{
        display: block;
        margin: 0 auto;
    }
    .areas_tbl__z2_small{
        display: block;
        margin: 0 auto;
    }
    .areas_tbl__z3_small{
        display: block;
        margin: 0 auto;
    }
    .areas_tbl__z1{
        display: none;
    }
    .areas_tbl__z2{
        display: none;
    }
    .areas_tbl__z3{
        display: none;
    }
    
    .areas_tbl__fontsize1{
        font-size: 20px;
    }
    .b_delivery_areas__col2{
        height: 48vh;
    }
    
    .b_delivery_types__wrapper{
        padding-bottom: 30px;
    }
    .b_delivery_types{
        width: 350px;
    }
    .b_delivery_types__title{
        font-size: 24px;
        padding-top: 25px;
        padding-bottom: 14px;
    }
    
    
    .b_delivery_types__greed{
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/delivery_types__greed_bg_small.png');
        width: 165px;
        height: 176px;
    }
    .b_delivery_types__greed__hide{
        display: none;
    }
    .b_delivery_types__item__text{
        display: none;
    }
    .b_delivery_types__item__picture{
        padding-top: 20px;
    }
    .b_delivery_types__item__picture img{
        width: 54px;
    }
    .b_delivery_types__item__name{
        font-size: 12px;
        width: 165px;
        height: 76px;
        text-align: center;
        padding-top: 10px;
    }
    
    .mobile_delivery__payment_info{
        display: block;
        padding-top: 26px;
    }
    .mobile_delivery__payment{
        width: 340px;
        position: relative;
        margin: 0 auto;
        font-family: 'Roboto Slab';
        font-size: 10px;
        color: #000000;
        text-transform: uppercase;
    }
    .mobile_delivery__payment__col1{
        float: left;
        text-align: center;
        width: 135px;
    }
    .mobile_delivery__payment__col2{
        float: left;
        color: #000000;
        font-family: 'Roboto Slab';
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        width: 70px;
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/mobile_delivery__payment__line.png');
        background-repeat: no-repeat;
        background-position: 50% 100%;
        padding-top: 14px;
        height: 148px;
    }
    .mobile_delivery__payment__col3{
        float: left;
        text-align: center;
        width: 135px;
    }
    .mobile_delivery__payment__text{
        padding-top: 22px;
        padding-bottom: 10px;
    }
    .mobile_delivery__how{
        display: block;
        width: 340px;
        position: relative;
        margin: 0 auto;
        padding-top: 20px;
        font-family: 'Roboto Slab';
        font-size: 14px;
        color: #000000;
        
    }
    .mobile_delivery__how__title{
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
    .mobile_delivery__how__list{
        padding-top: 20px;
    }
    .mobile_delivery__how__greed{
        width: 33.3333%;
        float: left;
        font-family: 'Roboto Slab';
        font-size: 12px;
        font-weight: bold;
        color: #000000;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        height: 68px;
    }
    .mobile_delivery__how__greed__rgth{
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/mobile_delivery__payment__line.png');
        background-position: 100% 0;
        background-repeat: no-repeat;
    }
    .mobile_delivery__how__telegram{
        color: #0080be;
        text-decoration: none;
        border-bottom: 1px solid;
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/mobile_delivery__how__telegram_i.png');
        background-repeat: no-repeat;
        background-position: 50% 0;
        display: inline-block;
        padding-top: 36px;
    }
    .mobile_delivery__how__phone{
        text-decoration: none;
        color: #000000;
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/mobile_delivery__how__phone_i.png');
        background-repeat: no-repeat;
        background-position: 50% 0;
        display: inline-block;
        padding-top: 36px;
    }
    .mobile_delivery__how__site{
        text-decoration: none;
        color: #000000;
        border-bottom: 1px solid #797979;
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/mobile_delivery__how__site_i.png');
        background-repeat: no-repeat;
        background-position: 50% 0;
        display: inline-block;
        padding-top: 36px;
    }
    
    
    .b_delivery_phone{
        background: none;
        padding-top: 0;
        margin-top: 30px;
    }
    .b_delivery_phone__text1{
        display: none;
    }
    .b_delivery_phone__text2{
        display: none;
    }
    .b_delivery_phone__text3{
        font-size: 29px;
    }
    
    .delivery_payment_header{
        display: block;
        height: 60px;
        background-image: url('http://vkuslab.ru/bitrix/templates/vkuslab/images/delivery_pay_header_bg.png');
        text-align: center;
        font-size: 24px;
        font-family: 'Orpheus';
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: bold;
        color: #ffffff;
        padding-top: 16px;
    }
    
    
}
@media (max-width: 374px){
    /*Auto resize %*/
    
    .mobile_header_menu{
        width: 16%;
    }
    
}
